/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("font/NotoSans-Regular.woff2"),
    url("NotoSans-Regular.font/NotoSans-Regular.woff");
}

/* header */
header {
  background: #fe5f55;
  padding: 0.5rem 2rem;
}

.nav li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #fe5f55;
}

/* .logo {
  width: 61px;
  height: 34.41px;
} */

.nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar .burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
}
.nav li {
  display: block;
}

.navbar .burger {
  display: block;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

h2 {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

label {
  display: block;
  font: 2rem;
  font-size: large;
  padding-right: 10px;
}

.search {
  width: 21rem;
  border-radius: 0.7rem;
  height: 2.5rem;
}

.filters {
  height: 2.5rem;
  margin: 0.5rem;
}

.searchbarre {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.under-menu {
  justify-content: space-between;
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  align-items: center;
  display: flex;
  background-color: #d0c7c1;
  opacity: 50%;
  border-radius: 0.6rem;
}

.underMenuContainer {
  display: flex;
  justify-content: center;
}

.recipe {
  color: #2b3464;
  font-weight: bold;
  border-radius: 0.6rem;
  padding: 0.8rem;
  margin-right: 1.2rem;
  border: 1px solid #d0c7c1;
  background-color: white;
}

.menu {
  margin-right: 1.25rem;
}

input,
label {
  margin: 0.4rem;
  padding-left: 2rem;
}

.fish {
  height: 95px;
  margin-right: 20px;
  margin-left: 20px;
}

.bobun {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.recipeContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #f9eee7;
  width: 22rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 75%;
}

.time,
.difficulty,
.calorie,
.price {
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  font-size: small;
}

.DescriptionJauges p {
  font-size: small;
  margin-left: 0.5rem;
  padding-bottom: 1rem;
}

.descriptionFilter {
  display: flex;
  width: 90%;
  padding: 1.5rem 0 1rem 1.5rem;
}

.jauges {
  display: flex;
  justify-content: space-between;
}

.jauges div {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.news {
  padding: 1.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.info {
  border-radius: 5px;
  background-color: #dcffe3;
  width: 700px;
  padding: 20px;
}

.ingredientsContainer {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.ingredientsContainer ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

li img {
  width: 70px;
  height: 70px;
}
.ingredientsContainer li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ecd7ca;
  height: 82px;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  padding-right: 1.5rem;
  border-bottom: 30px solid #fe5f55;
}

.quantityIngredients {
  align-items: center;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 30px;
}

.step {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.stepBtn {
  flex-shrink: 0;
}

.buttonAdd {
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 10px;
}

.add-to-cart {
  box-shadow: 0 8px 16px 0 rgba(9, 7, 126, 0.2),
    0 6px 20px 0 rgba(33, 7, 93, 0.19);
}

.button-cart {
  background-color: #525c90;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.cart-svg {
  margin-left: 1px;
}

.buttonKalendar {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: sticky;
  bottom: 5px;
}

.add-to-calendar {
  box-shadow: 0 8px 16px 0 rgba(170, 12, 12, 0.2),
    0 6px 20px 0 rgba(71, 3, 3, 0.19);
}

.button-calendar {
  background-color: #fe5f55;
  border-radius: 20px;
  height: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.recipes {
  padding: 2rem;
}

@media (min-width: 800px) {
  .bobun {
    margin-top: 10px;
  }

  .descriptioncontainer {
    margin-top: 100px;
    padding: 80px;
  }

  .ingredientsContainer {
    background-color: #f9eee7;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    margin-right: 1rem;
  }
  .search {
    width: 25rem;
  }

  .recipeContainer {
    height: auto;
    width: 50%;
    margin: 2rem;
    float: left;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav {
    position: absolute;
    color: #000;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #fe5f55;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1000;
  }
}
